footer{
    margin-top: 55px;
    width: 100%;
    height: 200px;
    background-color: rgb(38, 39, 39);
    display: flex;
}

.textFooter{
    margin-left: 20%;
    width: 50%;
    height: auto;
}

.textFooter h1{
    font-size: 18px;
    font-weight: 500;
    margin-top: 60px;
    color: rgb(243, 243, 243);
}

.textFooter p{
    font-size: 13px;
    padding-top: 5px;
    color: rgb(187, 187, 187);
}

.rsFooter{
    width: 30%;
    height: auto;
}

.rsFooter ul{
    margin-top: 25px;
    display: flex;
} 

.rsFooter li{
    list-style: none;
    margin-top: 40px;
    padding-left: 15px;
}