.header{
    position: fixed;
    width: 100%;    
    background: rgba(217, 217, 217, 0.03);
    box-shadow: inset 1px 170px 59px rgba(0, 0, 0, 0.51);
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 40px;
    padding: 5px 10%;
}

.header .logo{
    cursor:pointer;
    width: auto;
    height: 45px;
}

.header .logo img{
    height: 60px;
    width: 100%;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: inline-block;
    padding: 0 20px;
    font-weight: 100;
    font-size: 13px;
}

.header .nav-links a{
    font: 700;
    color: #ffffff;
    text-decoration: none;
}

.header .nav-links li:hover{
    transition: all 0.3s;
    transform: scale(1.1);

}

.header .nav-links li a:hover{
    color:rgb(137, 182, 141);
    transition: all 0.3s;
}

.header .btn button{
    font-weight: 700;
    color:darkslategray;
    padding: 9px 25px;
    background:#ffffff;
    border: none;
    border-radius: 50 px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #ffffff;
    color:gold;
    transform: scale(1.1);
}

.banner{
    opacity: 1.1;
    background-image: url("../img/bannerIndex.png");
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 500px;
    background-position-y: -290px;
}

.banner{
    padding-top: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    padding-top: 170px;
    font-size: 25px;
}

.buttonMenu{
    margin-top: 15px;
    width: 30%;
    height: 40px;
    margin-left: 35%;
}

.buttonMenu button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 3px solid white;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    background-color: transparent;
}

.buttonMenu button:hover{
    transition: 250ms;
    background-color: rgb(24, 121, 24);
    cursor: pointer;
    color: white;
    border: 1px solid rgb(24, 121, 24);
}