.navbarOutIndex{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #0e6d22;
    display: flex;
}

a{
    text-decoration: none;
}

.logoNavbar{
    padding-top: 19px;
    width: 15%;
    height: 60px;
}

.logoNavbar a{
    color: white;
    margin-left: 30%;
    width: 100%;
    height: auto;
}

.optionsNavbar{
    width: 70%;
    height: 60px;
    padding-left: 52%;
}

.optionsNavbar ul{
    display: flex;
}

.optionsNavbar li{
    font-size: 14px;
    padding-top: 12px;
    list-style: none;
    padding-left: 40px;
}

.optionsNavbar a{
    color: white;
}

.button_closeSesioninother{
    padding-top: 6px;
    margin-left: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.button_closeSesioninother:hover{
    transition: 250ms;
    color: rgb(204, 202, 204);
}