.navbarOutIndex{
    width: 100%;
    height: 60px;
    background-color: #0e6d22;
    display: flex;
}

a{
    text-decoration: none;
}

.logoNavbar{
    padding-top: 19px;
    width: 15%;
    height: 60px;
}

.logoNavbar a{
    color: white;
    margin-left: 30%;
    width: 100%;
    height: auto;
}

.optionsNavbar{
    width: 70%;
    height: 60px;
    padding-left: 65%;
}

.optionsNavbar ul{
    display: flex;
}

.optionsNavbar li{
    
    padding-top: 15px;
    list-style: none;
    padding-left: 30px;
}

.optionsNavbar a{
    color: white;
}


