.cPadre{
    width: 80%;
    height: auto;
    margin-left: 10%;
    display: flex;
    margin-bottom: 150px;
    flex-wrap: wrap;
}

.h1Restaurante{
    font-weight: 300;
    font-size: 35px;
    padding-top: 80px;
    margin-left: 50px;
}