.sign-in_container{
    width: 60%;
    height: 500px;
    margin-left: 20%;
    margin-top: 70px;
    display: flex;
    box-shadow: 5px 5px 15px gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.imgLogin{
    width: 50%;
    height: 500px;
    background-image: url("../img/loginImg.jpg");
    background-size: cover;
    background-position-y: -10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.imgRegister{
    width: 50%;
    height: 500px;
    background-image: url("../img/restauranteRegister.jpg");
    background-size: cover;
    background-position-y: -30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.formSignIn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50%;
    height: 500px;
    
}

.formSignIn h1{
    font-size: 40px;
    margin-left: 30px;
    margin-top: 20px;
    font-weight: 200;
}

.i_userName{
    margin-top: 30px;
    width: 100%;
    height: 50px;
}


.i_pass{
    margin-top: 30px;
    width: 100%;
    height: 50px;
}

input{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 3px;
    margin-left: 30px;
    width: 70%;
}

.textLogin{
    margin-top: 30px;
    margin-left: 30px;
    width: 100%;
    height: 60px;
}

.textLogin a{
    font-weight: 500;
    color: green;
}

.formSignIn button{
    cursor: pointer;
    width: 70%;
    height: 30px;
    margin-left: 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
}